#!/usr/bin/env bash
# This file is managed by Chezmoi.

if [[ -f $HOME/.bashrc ]]; then . $HOME/.bashrc; fi

for ITEM in $HOME/.{aliases,aliases_private,exports,exports_private}; do
    [[ -f "$ITEM" ]] && source "$ITEM"
done
unset ITEM

for ITEM in \
    /etc/bash_completion \
    /usr/local/etc/bash_completion.d/* \
    /usr/local/share/bash-completion/completions/* \
    {{ joinPath .chezmoi.sourceDir "bash_completion.d" "*" }} \
    {{ joinPath .chezmoi.homeDir ".chezmoi.bash" }} \
; do
    [[ -f "$ITEM" ]] && source "$ITEM"
done
unset ITEM

shopt -s histappend
shopt -s checkwinsize
shopt -s nocaseglob

export HISTFILE="~/.bash_history"
export HISTSIZE="65536"
export HISTFILESIZE="$HISTSIZE"
export HISTCONTROL="ignoreboth:erasedups"

if test -d /usr/local/opt/fzf/shell; then
    source /usr/local/opt/fzf/shell/completion.bash
    source /usr/local/opt/fzf/shell/key-bindings.bash
fi

[[ ! "$PROMPT_COMMAND" == *"history -a"* ]] && PROMPT_COMMAND="history -a; history -n; $PROMPT_COMMAND"
[[ -e ~/.ssh/config ]] && complete -o default -o nospace -W "$(grep "^Host" ~/.ssh/config | grep -v "[?*]" | cut -d " " -f2)" scp sftp ssh

__git_complete ga _git_add
__git_complete gai _git_add

__git_complete gb _git_branch
__git_complete gba _git_branch

__git_complete gc _git_commit

__git_complete gco _git_checkout

__git_complete gd _git_diff
__git_complete gdc _git_diff

__git_complete glg _git_log
__git_complete gLg _git_log
__git_complete gll _git_log
__git_complete gLL _git_log

__git_complete gl _git_pull

__git_complete gp _git_push

